<div class="">
  <div>
    <img src="{{adminPropic}}"  class="img-circle profile-img">
    <h3>{{adminName}}</h3>
  </div>
  <hr>
  <ul class="nav ">
    <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Forms for Buses <span class="caret"></span></a>
      <ul class="dropdown-menu scroll-view">
        <li><a href="#">New Bus</a></li>
        <li><a href="#">New Driver</a></li>
        <li><a href="#">New Conductor</a></li>
        <li><a href="#">New Schedule</a></li>
      </ul>
    </li>

    <li><a href="#">Form For Train</a></li>
    <li><a href="#">Administrators</a></li>
    <li><a href="#">Sponsors</a></li>
    <li><a href="#">User Rewards</a></li>
    <li><a href="#">New Adverteistment</a></li>
    <li><a href="#">Service Ranking</a></li>
    <li><a href="#"></a></li>
    <li><a href="#">One more nav</a></li>
    <li><a href="#">Another nav item</a></li>
  </ul>
</div>
